.bandeau {
    display: flex;
    justify-content: center;
    background-color: #e19d58;
}
.photo {
    margin: 0 5px;
}
.photo img {
    display: block;
    width: 150px;
    height: 200px;
}
.logo {
    display: block;
    width: 200px;
    height: 200px;
    
}



